*{
  margin: 0;
  padding: 0;

}
head{
  min-height:100px;
}
body{
  background-color: #eee;
  margin-top: 3%;
}
nav .logo img{
  position:absolute;
  max-width: 20%;
  height: auto;
  pointer-events: none;
}
nav {
  width:100%;
  min-height:100px;
  background-color: white;
}
.home h1{
  text-align:center;
  font-family:courier;
  padding-top:70px;
  padding-bottom: 70px;
}
.wrapper2{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-column-gap:1em;
  grid-auto-rows: minmax(100px,auto);
  margin:0 auto;
  width:90%;
}
.wrapper3{
  margin:0 auto;
  width: 90%;
  padding-top:10%;
}
.home .wrapper .basicinfo{
  text-align: center;
}

.home.wrapper .basicinfo .meals .fa{
  font-size:80px;

}
.wrapper{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-column-gap:1em;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom:8%;
}
.headshot{
  pointer-events: none;
  background-color: rgba(227, 227, 227, 0.3);
}
.headshot img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:65%;
  height:auto;
  padding-top:5%;
}
.headshot p{
  text-align: center;
  font-family:courier;
  font-size: 24px;
}
.basicinfo{
  font-family:courier;
  background-color: rgba(227, 227, 227, 0.3);
}

.infos{
  font-family:courier;
  margin-top:5%;
  line-height:2.8;
}
.Rhythm{
  text-align: center;
  font-family:courier;
  background-color: rgba(227, 227, 227, 0.3);
}
.Rhythm .Rhythmtitle p{
  font-size:20px;
}
.Rhythm .schedule{
  text-align:left;
  font-size: 13.5px;
  line-height:1.9;
  padding-top:5%;
  padding-left:17%;
}
.scale{
}
.container      /* This is where I need help with :) */
{
  position:relative;
  min-width:50%;
  height:auto;
  margin-left:6%;
  margin-top:10%;
}

.container .box
{
  position:relative;
  width:calc(400px - 30px);
  height:calc(300px - 30px);
  background-color: black;
  float:left;
  margin: 5%;
  box-sizing: border-box;
  overflow:hidden;
  border-radius: 15px;
}

.container .box .address
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightpink;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .address
{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container .box .address .fa
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 80px;
  transition: 0.5s;
  color: navy;
}

.container .box:hover .address .fa
{
  font-size: 40px;
}

.container .box .ourlocation
{
  position: absolute;
  top: 100%;
  left: 40px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}
.container .box:hover .ourlocation{
  top:100px;
  opacity: 1;
}
.container .box .ourlocation h3{
  margin: 0 0 15px;
  padding: 0;
  color: black;
  font-size: 24px;
  font-family: Courier;
  margin-right:40px;
}
.container .box .ourlocation p{
  margin: 0;
  padding: 0;
  color: black;
  margin-right:40px;
}
.container .box:nth-child(1) .address{
  background:#00BDFF;opacity:1;
}
.container .box:nth-child(1)
{
  background:#FF2400;opacity:60%;
}
.container .box:nth-child(2) .address{
  background: #FFCE00;opacity:1 ;
}
.container .box:nth-child(2)
{
  background: #00BDFF;opacity:0.6;
}
.container .box:nth-child(3) .address{
  background: #FF2400;opacity:1;
}
.container .box:nth-child(3)
{
  background: #FFCE00;opacity:0.6;
}
.container .box .Aboutme
{
  position: absolute;
  top: 100%;
  left: 40px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}
.container .box:hover .Aboutme{
  top:100px;
  opacity: 1;
}
.container .box .Aboutme h3{
  margin: 0 0 15px;
  padding: 0;
  color: black;
  font-size: 24px;
  margin-right:40px;
  font-family: Courier;
}
.container .box .Aboutme p{
  margin: 0;
  padding: 0;
  color: black;
  margin-right:40px;
  font-family: Courier;
}
.kids img{
  position:absolute;
  max-width:8%;
  height:auto;
  left:400px;
  top: 500px;
  pointer-events:none
}
.kids2 img{
  position:absolute;
  max-width: 7%;
  height:auto;
  left: 1000px;
  top: 500px;
  pointer-events:none
}
.kids3 img{
  position:absolute;
  max-width: 7%;
  height:auto;
  left: 700px;
  top: 500px;
  pointer-events:none
}
.aboutmepage{
  position: relative;
  box-sizing: content-box;
  min-width: 50%;
  padding-top: 12%;
  padding-bottom: 10%;
  padding-right:15%;
}
.aboutmepage h1{
  text-align:center;
  font-family: Courier;
  font-size: 30px;
}

.aboutmepage .Thisisaboutme{
  margin-bottom: 50px;
  top: 100px;
}

.aboutmepage p{
  text-align:center;
  font-size:1.4vw;
  font-family: Courier;
  letter-spacing:2px;
  line-height:2;
}
ul {
  margin-left:300px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
  display:block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: #1e1e1e;
  padding: 0 20px;
}

ul li a:hover{
  color:grey;
}

.overall{
  box-sizing:border-box;
  overflow:hidden;
}
.overall h3{
  text-align:center;
  font-size: 30px;
  Font-family: Courier;
  margin-bottom:50px;
}
.overall p{
  text-align:center;
  font-size: 24px;
  Font-family:Courier;
  margin-bottom:80px;
}
.myslides{
  display:none;
}
.slideshow{
  max-width: 50%;
  position: relative;
  margin: auto;
}
.prev{
  cursor: pointer;
  position: absolute;
  top:50%;
  width: auto;
  margin-top:-22px;
  padding: 16px;
  color: white;
  font-weight:bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  cursor: pointer;
  position: absolute;
  top:50%;
  width: auto;
  margin-top:-22px;
  padding: 16px;
  color: white;
  font-weight:bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right:0;
  border-radius: 3px 0 0 3px;
}
.prev:hover{
  background-color: rgba(0,0,0,0.8);
}
.next:hover{
  background-color: rgba(0,0,0,0.8);
}
.text{
  color:#f2f2f2;
  font-size:15px;
  padding: 8px 12px;
  position: absolute;
  bottom:8px;
  width: 100%;
  text-align: center;
}
.Identification{
  color:#f2f2f2;
  font-size:12px;
  padding:8px 12px;
  position: absolute;
  top: 0;
}
.row:after{
  content:"";
  display: table;
  clear:both;
}
.column{
  float:left;
  width:16.66%;
  left: 50px;
}
.cursor{
  opacity:0.7;
}
.cursor:hover{
  opacity:1;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration:1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade{
  from {opacity:.4}
  to {opacity: 1}
}
@viewport{
  zoom:1.0;
  width: extend-to-zoom;
}
@viewport{
  width: extend-to-zoom;
  zoom:1.0;
}
